article.about {
    background: #0ff6;
    padding: 1em;
    border-radius: 1em;
    color: #fff;
}

    article.about h1 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    article.about p {
        font-size: 1em;
        margin: 0;
    }